[submodule "folly"]
	path = folly
	url = https://github.com/facebook/folly.git
[submodule "double-conversion"]
	path = double-conversion
	url = https://code.google.com/p/double-conversion/
[submodule "thrift"]
	path = thrift
	url = https://github.com/apache/thrift.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent
